# Mac / OS files
.DS_Store
Thumbs.db

# Python cache / compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.venv/
env/
.env/

# VS Code settings
.vscode/

# Temporary / logs
*.log
*.swp

# Backend misc
.gitkeep

# Frontend
node_modules/
dist/
build/
.next/